@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*
    * padding-left pro meu main
        sair debaixo do aside
*/

body{
    background-color: #0A0B1F;
    color: #fff;

    font-family: 'Inter', sans-serif;

    padding-left: 25vw;

    overflow-x: hidden;

    scroll-behavior: smooth;
}

.container{
    display: flex;
    gap: 50px;
}

/* ASIDE */

/*
    * position fixed meu aside
    vai pra frente e o main
    ocupou o espaço abaixo do aside
*/

aside {
    position: fixed;
    left: 0;

    width: 25vw;
    height: 100vh;
    border-right: .5px solid #38444d;

    text-align: center;

    padding-top: 50px;
}

.descricao h1{
    font-weight: 200;
    font-size: 2rem;
    line-height: 48px;
    letter-spacing: 0.1em;
}

.descricao h2{    
    font-size: 1.5rem;
    line-height: 33px;
    letter-spacing: 0.1em;
}

.links {
    margin-top: 40px;
}

.links nav a{
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #fff;

    transition: .5s;
}

.links nav a:hover{
    color: #0ED9E5;
    font-weight: 700;
}

/* MAIN */

main{
    margin-left: 50px;
}

.discovery{
    margin-top: 3%;
}

.discovery h1{
    font-size: 2.5rem;

    margin-bottom: 3%;
}

/* GALERIA */

/*
    Max-width de 60 para nao cortar
    minha ultima img
*/

.galeria{
    display: flex;
    
    max-width: 60vw;
    padding: 10px;

    overflow-x: auto;
}

.galeria img{
    width: 250px;
    margin-right: 20px;
}

.videos{
    margin-top: 50px;
}

.videos h1{
    font-size: 2.5rem;

    margin-bottom: 3%;
}

/* ABOUT ME */

.about{
    margin-top: 50px;
}


.aboutMe h1{
    font-size: 2rem;

    margin-bottom: 3%;
}

.aboutMe p{
    width: 60vw;

    font-weight: 300;
    font-size: 20px;
    line-height: 36px;

    text-align: justify;

    padding: 10px;
}

/* CONTACT ME */

.contactMe{
    margin-top: 50px;
    margin-bottom: 80px;
}

.contactMe h1{
    font-size: 2rem;

    margin-bottom: 3%;
}

.contactMe ul {
    display: flex;

    gap: 20px;
}

.contactMe ul a{
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
}

.contactMe ul img{
    width: 150px;
}

/* MEDIA */

@media only screen and (max-width: 810px) {
    body{
        padding-left: 0;
    }
    
   aside{
       position: absolute;
       display: flex;
       flex-direction: column;

       align-items: center;

       border: 0;

       width: 100vw;

       padding-top: 10px;
   }

   aside .descricao{
       display: flex;
       align-items: center;

       gap: 10px;
   }

   aside .descricao img{
       width: 100px;
   }

   aside nav ul{
       display: flex;

       gap: 10px;
   }

   main{
       margin-top: 200px;
   }

   .galeria{
       max-width: 80vw;
   }

   .aboutMe p{
        width: 80vw;
    }

   .contactMe ul{
       display: flex;
       flex-wrap: wrap;
   }
   
    
    
}